body {
  padding: 0px;
  margin: 0;
  background-color: #57b64f;
  position: relative;
}
body h1 {
  color: white;
  position: absolute;
  right: 20px;
  bottom: -100vh;
  text-transform: uppercase;
  text-align: right;
  font-size: 60px;
  font-weight: 700;
}

header#mainHeader {
  width: 60px;
  height: 100%;
  left: 0;
  transition: left 0.5s ease-in-out 0.2s;
  position: fixed;
  display: inline-block;
  background-color: #3a4151;
  z-index: 1000;
}
header#mainHeader nav {
  height: 100%;
  width: 60px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /*
  	position:absolute;
  	left:0;
  */
  /* L'element */
}
header#mainHeader nav .top-header {
  background-color: #3a4151;
  position: relative;
}
header#mainHeader nav:after {
  content: " ";
  background-color: #3a4151;
  width: 60px;
  height: 100%;
  position: absolute;
  left: 0px;
}
header#mainHeader nav:before {
  content: " ";
  height: 100%;
  width: 0px;
  background-color: #424a5c;
  position: absolute;
  left: 60px;
  transition: width 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
header#mainHeader nav .navBurger {
  cursor: pointer;
  width: 100%;
  height: 45px;
}
header#mainHeader nav .navBurger .burger {
  margin-left: 18px;
  margin-top: 30px;
  cursor: pointer;
}
header#mainHeader nav .navBurger .burger, header#mainHeader nav .navBurger .burger::before, header#mainHeader nav .navBurger .burger::after {
  border-radius: 2px;
  position: absolute;
  z-index: 100;
  width: 24px;
  height: 4px;
  background: white;
  transition: all 0.3s;
}
header#mainHeader nav .navBurger .burger::before, header#mainHeader nav .navBurger .burger::after {
  content: "";
  display: block;
}
header#mainHeader nav .navBurger .burger::before {
  margin-top: -8px;
}
header#mainHeader nav .navBurger .burger::after {
  margin-top: 8px;
}
header#mainHeader nav ul {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: calc(50vh - 160px);
}
header#mainHeader nav ul li {
  font-size: 14px;
  width: 60px;
  height: 40px;
  cursor: pointer;
  position: relative;
  display: block;
}
header#mainHeader nav ul li a {
  width: 150px;
  color: white;
  position: relative;
  z-index: 0;
  opacity: 0;
  left: -80px;
  text-transform: uppercase;
  transition: left 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045), opacity 0.15s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  color: #fff;
  text-decoration: none;
}
header#mainHeader nav ul li:before {
  z-index: 10;
  content: " ";
  width: 8px;
  height: 8px;
  background-color: transparent;
  position: absolute;
  left: 26px;
  top: 16px;
  border-radius: 50%;
  border: 2px solid white;
  transform: scale(1) translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out;
}
header#mainHeader nav ul li a:hover, header#mainHeader nav ul li a:active, header#mainHeader nav ul li a:visited, header#mainHeader nav ul li a:focus {
  background-color: transparent !important;
  color: white;
}
header#mainHeader nav ul li:hover:before {
  background-color: white;
}
header#mainHeader nav ul li.active:before, header#mainHeader nav ul li:hover:before {
  transform: scale(1.5) translate3d(0, 0, 0);
  background-color: white;
}
header#mainHeader nav:hover:before {
  width: 160px;
  transition: width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
header#mainHeader nav:hover .burger {
  /* 		background:transparent; */
  transform: rotate(45deg) translate3d(0, 0, 0);
}
header#mainHeader nav:hover .burger::before {
  margin-top: 0px;
  transform: rotate(-90deg) translate3d(0, 0, 0);
}
header#mainHeader nav:hover .burger::after {
  margin-top: 0px;
  transform: rotate(0deg) translate3d(0, 0, 0);
}
header#mainHeader nav:hover li a {
  left: 70px;
  opacity: 1;
  transition-duration: 0.4s;
  transition-property: left, opacity;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
header#mainHeader nav:hover li:nth-child(1) a {
  transition-delay: 0.3s;
}
header#mainHeader nav:hover li:nth-child(2) a {
  transition-delay: 0.34s;
}
header#mainHeader nav:hover li:nth-child(3) a {
  transition-delay: 0.38s;
}
header#mainHeader nav:hover li:nth-child(4) a {
  transition-delay: 0.42s;
}
header#mainHeader nav:hover li:nth-child(5) a {
  transition-delay: 0.46s;
}
header#mainHeader nav:hover li:nth-child(6) a {
  transition-delay: 0.5s;
}
header#mainHeader nav:hover li:nth-child(7) a {
  transition-delay: 0.54s;
}
header#mainHeader nav:hover li:nth-child(8) a {
  transition-delay: 0.58s;
}

.swiper-container {
  width: 600px;
  height: 480px;
  margin: 30px auto;
}
.swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
}
.swiper-container .swiper-wrapper .swiper-slide:nth-child(1) {
  background-color: #384878;
}
.swiper-container .swiper-wrapper .swiper-slide:nth-child(2) {
  background-color: #00c2bc;
}
.swiper-container .swiper-wrapper .swiper-slide:nth-child(3) {
  background-color: #a8aabc;
}
.swiper-container .swiper-wrapper .swiper-slide:nth-child(4) {
  background-color: #384878;
}
.swiper-container .swiper-wrapper .swiper-slide:nth-child(5) {
  background-color: #00c2bc;
}
.swiper-container .swiper-wrapper .swiper-slide:nth-child(6) {
  background-color: #a8aabc;
}
.swiper-container .swiper-wrapper .swiper-slide h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3vw;
}
.swiper-container .swiper-wrapper .swiper-slide .card-footer {
  box-shadow: 0 0 1rem;
  border-top: 1px dashed #fff;
  background: #fff;
}
.swiper-container .swiper-wrapper .swiper-slide .card-body {
  flex: 1;
  position: relative;
}
.swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  display: flex;
}
.swiper-container .swiper-wrapper .swiper-slide .card-columns {
  display: flex;
  height: 3rem;
}
.swiper-container .swiper-wrapper .swiper-slide .card-columns > * {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0 1rem;
}
.swiper-container .swiper-wrapper .swiper-slide .text-left {
  text-align: left;
  justify-content: flex-start;
}
.swiper-container .swiper-wrapper .swiper-slide .text-center {
  text-align: center;
  justify-content: center;
  font-size: 1.5vw;
}
.swiper-container .swiper-wrapper .swiper-slide .text-right {
  text-align: right;
  justify-content: flex-end;
}/*# sourceMappingURL=style.css.map */